<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750434405774-23kan55ca56ju84knc24tbi3stch97sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750434405774-23kan55ca56ju84knc24tbi3stch97sk</string>
	<key>API_KEY</key>
	<string>AIzaSyCScWS2lRoUrTJ6-5JaCbTtNqwv7KWUEQc</string>
	<key>GCM_SENDER_ID</key>
	<string>750434405774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>villarDeveloper.Alistamento</string>
	<key>PROJECT_ID</key>
	<string>alistamento-e6bc9</string>
	<key>STORAGE_BUCKET</key>
	<string>alistamento-e6bc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750434405774:ios:d1424a527e54d7046b28df</string>
</dict>
</plist>