<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215556706615-rt6qc5rvo06ep17c5p2pomp64ad8if95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215556706615-rt6qc5rvo06ep17c5p2pomp64ad8if95</string>
	<key>API_KEY</key>
	<string>AIzaSyC9wKWJ14Xqs3ZHZzpkCTUZZ4nh70JxVko</string>
	<key>GCM_SENDER_ID</key>
	<string>215556706615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>villarDeveloper.Straightening</string>
	<key>PROJECT_ID</key>
	<string>straightening-c0278</string>
	<key>STORAGE_BUCKET</key>
	<string>straightening-c0278.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215556706615:ios:290f692527da9f6644cab2</string>
</dict>
</plist>